@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --swiper-navigation-color: white;
}

body {
    background-color: #030303;
}

.red-color {
    background-color: #FF0000;
}

.shadow-red {
    box-shadow: 0 0 0 0.5rem rgba(255, 0, 0, 0.5);
}

.ytmusic {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.fader {
    mask-image: linear-gradient(to right, black calc(100% - 100px), transparent 100%);
    mask-image: linear-gradient(to left, black calc(100% - 100px), transparent 100%);
}